.group-child24 {
    position: absolute;
    top: 232px;
    left: 1016px;
    background-color: var(--color-white);
    box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
    width: 418px;
    height: 187px;
  }
  .div23,
  .porksteak,
  .si-idle-kay {
    position: absolute;
    top: 266px;
    left: 1004px;
    display: inline-block;
    width: 183px;
    height: 94px;
  }
  .div23,
  .si-idle-kay {
    top: 366px;
    left: 991px;
    font-size: var(--font-size-13xl);
  }
  .si-idle-kay {
    top: 294px;
    left: 1042px;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray);
    text-align: left;
    width: 182px;
    height: 47px;
  }
  .image-119-icon1 {
    position: absolute;
    top: 253px;
    left: 1235.7px;
    border-radius: 13.33px;
    width: 183.7px;
    height: 171.7px;
    object-fit: cover;
  }
  .group-child25 {
    position: absolute;
    top: 228px;
    left: 559px;
    background-color: var(--color-white);
    box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
    width: 418px;
    height: 191px;
  }
  .div24,
  .fried-chicken-1pc,
  .si-idle-kay1 {
    position: absolute;
    top: 263px;
    left: 555px;
    display: inline-block;
    width: 236px;
    height: 90px;
  }
  .div24,
  .si-idle-kay1 {
    top: 366px;
    left: 534px;
    font-size: var(--font-size-13xl);
    width: 183px;
    height: 94px;
  }
  .si-idle-kay1 {
    top: 294px;
    left: 585px;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray);
    text-align: left;
    width: 182px;
    height: 47px;
  }
  .image-120-icon1 {
    position: absolute;
    top: 243px;
    left: 778.7px;
    border-radius: 13.33px;
    width: 183.7px;
    height: 170.7px;
    object-fit: cover;
  }
  .group-child26 {
    position: absolute;
    top: 231px;
    left: 92px;
    background-color: var(--color-white);
    box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
    width: 418px;
    height: 190px;
  }
  .cit-u-cafeteria2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-21xl);
    font-family: var(--font-bubblegum-sans);
    color: var(--color-firebrick);
    display: inline-block;
    width: 488px;
    height: 70px;
  }
  .div25,
  .lameh-nga-palabok,
  .palabok1 {
    position: absolute;
    top: 256px;
    left: 77px;
    display: inline-block;
    width: 182px;
    height: 93px;
  }
  .div25,
  .lameh-nga-palabok {
    top: 366px;
    left: 74px;
    font-size: var(--font-size-13xl);
    width: 184px;
    height: 95px;
  }
  .lameh-nga-palabok {
    top: 287px;
    left: 104px;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray);
    height: 94px;
  }
  .group-child27,
  .image-121-icon1 {
    position: absolute;
    border-radius: 13.33px;
  }
  .image-121-icon1 {
    top: 234px;
    left: 319.7px;
    width: 177.7px;
    height: 170.7px;
    object-fit: cover;
  }
  .group-child27 {
    top: 109.3px;
    left: 92px;
    background-color: var(--color-firebrick-200);
    width: 456.9px;
    height: 49.5px;
    mix-blend-mode: normal;
  }
  .search-meal-here2 {
    position: absolute;
    top: 120.2px;
    left: 147.9px;
    font-size: 21.33px;
    color: var(--color-white);
    display: inline-block;
    width: 160.4px;
    height: 26.6px;
  }
  .image-10-icon2 {
    position: absolute;
    top: 115.4px;
    left: 100.5px;
    width: 42.5px;
    height: 37.5px;
    object-fit: cover;
  }
  .group-child28 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 13.33px;
    background-color: var(--color-firebrick-100);
    width: 119.1px;
    height: 48.3px;
    cursor: pointer;
  }
  .breakfast2 {
    position: absolute;
    top: 6.3px;
    left: 5.9px;
    font-size: 26.67px;
    font-family: var(--font-buenard);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    width: 109px;
    height: 37px;
  }
  .group-child29,
  .rectangle-parent10 {
    position: absolute;
    top: 111.8px;
    width: 119.1px;
    height: 48.3px;
  }
  .rectangle-parent10 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    left: 746.1px;
  }
  .group-child29 {
    left: 917.5px;
    border-radius: 13.33px;
    background-color: var(--color-firebrick-100);
  }
  .lunch3 {
    position: absolute;
    top: 118px;
    left: 934px;
    font-size: 26.67px;
    color: var(--color-white);
    display: inline-block;
    width: 85px;
    height: 35px;
  }
  .group-child30 {
    position: absolute;
    top: 460px;
    left: 95px;
    background-color: var(--color-white);
    box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
    width: 417px;
    height: 191px;
  }
  .batchoy1,
  .div26,
  .mas-hot-pa1 {
    position: absolute;
    top: 489px;
    left: 78px;
    display: inline-block;
    width: 182px;
    height: 94px;
  }
  .div26,
  .mas-hot-pa1 {
    top: 600px;
    left: 69px;
    font-size: var(--font-size-13xl);
    width: 183px;
  }
  .mas-hot-pa1 {
    top: 516px;
    left: 101px;
    font-size: var(--font-size-xl);
    color: var(--color-dimgray);
    width: 182px;
    height: 24px;
  }
  .image-122-icon1 {
    position: absolute;
    top: 474px;
    left: 313.7px;
    border-radius: 13.33px;
    width: 183.7px;
    height: 170.7px;
    object-fit: cover;
  }
  .rectangle-parent9 {
    position: absolute;
    top: 155px;
    left: 26px;
    width: 1434px;
    height: 694px;
    font-size: var(--font-size-5xl);
  }
  .all2 {
    position: absolute;
    top: 7.3px;
    left: 28.2px;
    font-size: 26.67px;
    font-family: var(--font-buenard);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    width: 61px;
    height: 34px;
  }
  .rectangle-parent11 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 267px;
    left: 618px;
    width: 119.1px;
    height: 48.3px;
  }
  .snacks3 {
    position: absolute;
    top: 7.3px;
    left: 12.7px;
    font-size: 26.67px;
    font-family: var(--font-buenard);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    width: 94px;
    height: 35px;
  }
  .rectangle-parent12 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 267px;
    left: 1123px;
    width: 119.1px;
    height: 48.3px;
  }
  .drinks3 {
    position: absolute;
    top: 6px;
    left: 15.3px;
    font-size: 26.67px;
    font-family: var(--font-buenard);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    width: 87px;
    height: 29px;
  }
  .rectangle-parent13 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 267px;
    left: 1308.7px;
    width: 119.1px;
    height: 48.3px;
  }
  .lunch-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 131px;
  }
  .campuseats-icon2,
  .image-30-icon2 {
    position: absolute;
    top: 40px;
    left: 213px;
    width: 250px;
    height: 50px;
  }
  .image-30-icon2 {
    top: 13px;
    left: 121px;
    width: 83.9px;
    height: 85px;
    object-fit: cover;
  }
  .jan-shaono2 {
    position: absolute;
    top: 37px;
    left: 1191px;
    display: inline-block;
    width: 217.3px;
    height: 112px;
  }
  .frame-icon7 {
    position: absolute;
    top: 55px;
    left: 1408px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
  }
  .div27 {
    position: absolute;
    top: 37px;
    left: 974px;
    display: inline-block;
    width: 217.3px;
    height: 112px;
  }
  .image-802,
  .image-812 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 40px;
    left: 1730px;
    width: 60px;
    height: 60px;
    background-image: url(/public/image-81@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .image-802 {
    top: 45px;
    left: 1579px;
    height: 49.6px;
    background-image: url(/public/image-80@2x.png);
  }
  .lunch2 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-buenard);
  }
  