.snacks2Child {
  position: absolute;
  top: 391px;
  left: 239px;
  background-color: var(--color-white);
  box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
  width: 416px;
  height: 191px;
}
.bingo,
.div,
.masSweetPa {
  position: absolute;
  top: 420px;
  left: 208px;
  display: inline-block;
  width: 183px;
  height: 94px;
}
.div,
.masSweetPa {
  top: 531px;
  left: 213px;
  font-size: var(--font-size-13xl);
}
.masSweetPa {
  top: 447px;
  left: 244px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  height: 24px;
}
.image73Icon {
  position: absolute;
  top: 405px;
  left: 457.7px;
  border-radius: 13.33px;
  width: 183.7px;
  height: 170.7px;
  object-fit: cover;
}
.citUCafeteria {
  position: absolute;
  top: 162px;
  left: 237px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-bubblegum-sans);
  color: var(--color-firebrick);
  display: inline-block;
  width: 302px;
  height: 35px;
}
.snacks2Item {
  position: absolute;
  top: 395px;
  left: 1161px;
  background-color: var(--color-white);
  box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
  width: 418px;
  height: 186px;
}
.div1,
.meatroll,
.soMeatty {
  position: absolute;
  top: 423px;
  left: 1145px;
  display: inline-block;
  width: 183px;
  height: 95px;
}
.div1,
.soMeatty {
  top: 526px;
  left: 1129px;
  font-size: var(--font-size-13xl);
}
.soMeatty {
  top: 451px;
  left: 1135px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  width: 182px;
  height: 24px;
}
.image72Icon {
  position: absolute;
  top: 404px;
  left: 1374.7px;
  border-radius: 13.33px;
  width: 183.7px;
  height: 171.7px;
  object-fit: cover;
}
.snacks2Inner {
  position: absolute;
  top: 390px;
  left: 705px;
  background-color: var(--color-white);
  box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
  width: 416px;
  height: 191px;
}
.chocolateStick,
.div2,
.masColdPa {
  position: absolute;
  top: 422px;
  left: 708px;
  display: inline-block;
  width: 183px;
  height: 94px;
}
.div2,
.masColdPa {
  top: 530px;
  left: 679px;
  font-size: var(--font-size-13xl);
  height: 95px;
}
.masColdPa {
  top: 447px;
  left: 710px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  text-align: left;
  height: 24px;
}
.image116Icon {
  position: absolute;
  top: 405px;
  left: 923.7px;
  border-radius: 13.33px;
  width: 183.7px;
  height: 170.7px;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  top: 621px;
  left: 242px;
  background-color: var(--color-white);
  box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
  width: 417px;
  height: 190px;
}
.div3,
.hotdogWBun,
.masHotPa {
  position: absolute;
  top: 650px;
  left: 244px;
  display: inline-block;
  width: 182px;
  height: 94px;
}
.div3,
.masHotPa {
  top: 761px;
  left: 214px;
  font-size: var(--font-size-13xl);
  width: 183px;
}
.masHotPa {
  top: 677px;
  left: 246px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  width: 182px;
  height: 24px;
}
.image110Icon {
  position: absolute;
  top: 635px;
  left: 458.7px;
  border-radius: 13.33px;
  width: 183.7px;
  height: 171.7px;
  object-fit: cover;
}
.snacks2Child1 {
  position: absolute;
  top: 840px;
  left: 243px;
  background-color: var(--color-white);
  box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
  width: 416px;
  height: 191px;
}
.div4,
.masColdPa1,
.pinipig {
  position: absolute;
  top: 870px;
  left: 217px;
  display: inline-block;
  width: 183px;
  height: 93px;
}
.div4,
.masColdPa1 {
  top: 980px;
  font-size: var(--font-size-13xl);
  height: 95px;
}
.masColdPa1 {
  top: 897px;
  left: 266px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  text-align: left;
  height: 24px;
}
.image112Icon {
  position: absolute;
  top: 855px;
  left: 461.7px;
  border-radius: 13.33px;
  width: 183.7px;
  height: 170.7px;
  object-fit: cover;
}
.snacks2Child2 {
  position: absolute;
  top: 621px;
  left: 709px;
  background-color: var(--color-white);
  box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
  width: 416px;
  height: 190px;
}
.div5,
.magicCreams,
.masSweetPa1 {
  position: absolute;
  top: 654px;
  left: 714px;
  display: inline-block;
  width: 183px;
  height: 94px;
}
.div5,
.masSweetPa1 {
  top: 761px;
  left: 683px;
  font-size: var(--font-size-13xl);
}
.masSweetPa1 {
  top: 677px;
  left: 714px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  height: 24px;
}
.image114Icon {
  position: absolute;
  top: 635px;
  left: 927.7px;
  border-radius: 13.33px;
  width: 183.7px;
  height: 171.7px;
  object-fit: cover;
}
.snacks2Child3 {
  position: absolute;
  top: 622px;
  left: 1161px;
  background-color: var(--color-white);
  box-shadow: 0 6.7px 5.33px rgba(0, 0, 0, 0.25);
  width: 418px;
  height: 191px;
}
.div6,
.fita,
.masRefreshingKaysa {
  position: absolute;
  top: 654px;
  left: 1136px;
  display: inline-block;
  width: 183px;
  height: 94px;
}
.div6,
.masRefreshingKaysa {
  top: 762px;
  font-size: var(--font-size-13xl);
}
.masRefreshingKaysa {
  top: 683px;
  left: 1179px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  text-align: left;
  width: 184px;
  height: 47px;
}
.groupChild,
.image115Icon {
  position: absolute;
  border-radius: 13.33px;
}
.image115Icon {
  top: 635px;
  left: 1386.7px;
  width: 165.7px;
  height: 171.7px;
  object-fit: cover;
}
.groupChild {
  top: 0;
  left: 0;
  background-color: var(--color-firebrick-100);
  width: 119.1px;
  height: 47.6px;
}
.all {
  position: absolute;
  top: 4.2px;
  left: 27.2px;
  display: inline-block;
  width: 63px;
  height: 33.5px;
}
.rectangleParent {
  position: absolute;
  top: 285.4px;
  left: 739.8px;
  width: 119.1px;
  height: 47.6px;
  cursor: pointer;
  font-size: 26.67px;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-firebrick-200);
  width: 456.8px;
  height: 48.8px;
  mix-blend-mode: normal;
}
.searchMealHere {
  position: absolute;
  top: 10.7px;
  left: 55.9px;
  display: inline-block;
  width: 160.4px;
  height: 26.2px;
}
.rectangleGroup {
  position: absolute;
  top: 283px;
  left: 240px;
  width: 456.8px;
  height: 48.8px;
  font-size: 21.33px;
  color: var(--color-white);
}
.image10Icon {
  position: absolute;
  top: 289px;
  left: 248.5px;
  width: 42.5px;
  height: 36.9px;
  object-fit: cover;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-firebrick-100);
  width: 119.1px;
  height: 47.6px;
  cursor: pointer;
}
.breakfast {
  position: absolute;
  top: 6.2px;
  left: 3.9px;
  display: inline-block;
  width: 111px;
  height: 38.4px;
}
.rectangleContainer {
  position: absolute;
  top: 285.4px;
  left: 894.1px;
  width: 119.1px;
  height: 47.6px;
  cursor: pointer;
  font-size: 26.67px;
}
.lunch {
  position: absolute;
  top: 5.2px;
  left: 10.5px;
  display: inline-block;
  width: 98px;
  height: 40.4px;
}
.groupDiv {
  position: absolute;
  top: 285.4px;
  left: 1065.4px;
  width: 119.1px;
  height: 47.6px;
  cursor: pointer;
  font-size: 26.67px;
}
.snacks {
  position: absolute;
  top: 5.2px;
  left: 12.7px;
  display: inline-block;
  width: 94px;
  height: 31.5px;
}
.rectangleParent1 {
  position: absolute;
  top: 285.4px;
  left: 1245.2px;
  width: 119.1px;
  height: 47.6px;
  font-size: 26.67px;
  color: var(--color-white);
}
.drinks {
  position: absolute;
  top: 7.6px;
  left: 17px;
  display: inline-block;
  width: 85px;
  height: 30.5px;
}
.rectangleParent2 {
  position: absolute;
  top: 283px;
  left: 1429.9px;
  width: 119.1px;
  height: 47.6px;
  cursor: pointer;
  font-size: 26.67px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 131px;
}
.campuseatsIcon,
.image30Icon {
  position: absolute;
  top: 40px;
  left: 213px;
  width: 250px;
  height: 50px;
}
.image30Icon {
  top: 13px;
  left: 121px;
  width: 83.9px;
  height: 85px;
  object-fit: cover;
}
.frameIcon {
  position: absolute;
  top: 42px;
  left: 1530px;
  width: 29px;
  height: 28px;
  overflow: hidden;
  cursor: pointer;
}
.image80Icon,
.image81Icon {
  position: absolute;
  top: 42px;
  left: 1604px;
  width: 35px;
  height: 27px;
  object-fit: cover;
}
.image81Icon {
  top: 39px;
  left: 1685px;
  height: 33px;
}
.snacks2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1680px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-buenard);
}
